          <h3>about the band</h2>

          <div class="band-bio-entry">
            <a href="/img/jake_viceroy.jpg" target="_blank">
              <img src="/img/jake_viceroy.jpg" alt="Jake Viceroy picture" title="Jake Viceroy: 'what is falsetto?'"/>
            </a>
            <div>
              <a name="jake"></a>
              <h3>jake&nbsp;viceroy</h3>
              <p class="band-bio-subtitle">Lead vocal, rhythm guitar</p>
              <p>
		Jake Viceroy grew up on a pig farm in Laredo, Texas, where
		hog-calling helped him to perfect the traditional high-pitch
		metal shriek.
			  </p>

              <p>
    He feasted on a steady diet of metal all through
		school, studying in detail the genius of performers like Ronnie
		James Dio, Paul Stanley, Klaus Meine, Rob Halford, and of course
		Jani Lane, and eventually deciding to devote his life to the
		pursuit of metal awesome, for its purity as an art-form, and "for
		the chicks."
			  </p>

              <p>
    He has never had it officially measured, but has a vocal-range of "about 18
    octaves." Whether it's the raspy/creepy Stephen Pearcy; the over-dramatic
    Dokken; the super-shrieky Sebastian Bach, or the soaring, OMFG-pretty Steve
    Perry; Jake has studied it, and mastered it all.
				</p>

              <p>
    Jake picked up the guitar in college to increase his
    skill in metal bad-assery, and mostly sticks to playing his late-80s Les
    Paul, "because it's a f*cking Les Paul."
				</p>

            </div>
          </div>

          <div class="band-bio-entry">
              <a name="cole"></a>
            <a href="/img/cole_stone.jpg" target="_blank">
              <img src="/img/cole_stone.jpg" alt="Cole Stone picture" title="Cole Stone: Don't hate me because I'm beautiful. And stoic."/>
            </a>
            <div>
              <h3>cole&nbsp;stone</h3>
              <p class="band-bio-subtitle">Bass guitar, backup vocal</p>
              <p>
		Cole Stone is a stone-cold badass. He hails from Newport News,
		Virginia, and built his first bass from two-by-fours and
		chicken-wire when he was seven years old. Cole's strange,
		preternatural gift for harmony-singing emerged shortly after
		that, when he accidentally broke all the windows in the house
		while part-singing in the ultrasonic range with the family dog.
	      </p>

              <p>
    He heard his first metal track on local FM radio, and after seeing the
    leering, sneering faces on MTV's "Headbanger's Ball," he realized it was his
    destiny to be a metal star as well.
	      </p>

              <p>
    Cole is the strong, silent type -- he wears his stoicism on his sleeve like
    some men wear their feelings. Feelings are not important -- f*cking metal is
    what's important. He may appear to be standing like heavy stone, bou can bet
    your ass that Cole is gathering his 'ki' to bring the bass and vocal attack
    that flattens the crowd.
	      </p>

            </div>
          </div>

          <div class="band-bio-entry">
              <a name="kitt"></a>
            <a href="/img/kitt_de_la_rosa.jpg" target="_blank">
              <img src="/img/kitt_de_la_rosa.jpg" alt="Kitt De la Rosa  picture" title="Kitt De la Rosa: On the rocket ship ride to looooooove!"/>
            </a>
            <div>
              <h3>kitt&nbsp;de&nbsp;la&nbsp;rosa</h3>
              <p class="band-bio-subtitle">Drums, backup vocal</p>
              <p>
    Kitt De la Rosa is a rocket ship to rock and roll love waiting to lift off..
    Who needs a click-track when you have a rocket-ship ride to the stars?? Kitt first began
    drumming as he was growing up in a small town south of San Diego, California.
	      </p>

              <p>
    His musical tastes expanded as he grew older, and Kitt explored everything
    from progressive jazz to German polka, but the bombastic styles of drummers
    like John Bohnam and Carmine Appice constantly pulled him back to metal,
    learning heavier and heavier licks every day.
    </p>

    <p>
    To this day, no one is
    completely sure whether the spontaneous liftoff of his family home into outer space was
    caused by his drumming, but he was playing at the time, and only just barely
    managed to leap free, clinging to his prized Zildjian 22" Extra-Extra-Heavy
    ride.
	      </p>

            </div>
          </div>


