          <h2>The Band</h2>
          <div class="band-bio-entry">
            <img src="/img/jake_viceroy.jpg" alt="Jake Viceroy picture" title="Jake Viceroy: 'what is falsetto?'"/>
            <div>
              <h3>Jake Viceroy</h3>
              <p class="band-bio-subtitle">Lead vocal, rhythm guitar</p>
              <p>
		Jake Viceroy is Hairstrike's lead singer. He grew up on a pig
		farm in Laredo, Texas, where hog-calling allowed him to perfect
		his high-pitch metal shriek. He feasted on a steady diet of
		metal all through school, studying in detail the genius of
		performers like Ronnie James Dio, Paul Stanley, and Jani Lane,
		and eventually deciding to devote his life to the pursuit of
		metal awesomeness.
		          </p>

              <p>
    He has never had it officially measured, but has a vocal-range of "about 18
    octaves." Whether it's the raspy/creepy Stephen Pearcy; the over-dramatic
    Dokken; the super-shrieky Sebastian Bach, or the soaring, OMFG-pretty Steve
    Perry; it doesn't really matter.  Jake is always there, delivering the
    goods.
				</p>

              <p>
    Jake picked up the guitar in college to increase his
    skill in metal bad-assery, and mostly sticks to playing his late-80s Les
    Paul, "because it's a fucking Les Paul."
				</p>

              <p>
    Like most metal frontmen, Jake loves the ladies, but tries his best to
    keep them from interfering with his duties as 80s Metal Ambassdaor, and the
    voice of Hairstrike. Please don't be a distraction.
				</p>

            </div>
          </div>

          <div class="band-bio-entry">
            <img src="/img/jc_sleet.jpg" alt="JC Sleet picture" title="J.C. Sleet: The 'J.C.' is for 'Jesus Christ'"/>
            <div>
              <h3>J.C. Sleet</h3>
              <p class="band-bio-subtitle">Lead guitar, backup vocal</p>
              <p>
		J.C. is Hairstrike's lead guitarist. He started playing guitar
		when he was eight years old, at the feet of his grandfather,
		Randall "Fuzzy" Winston, one of the great country-western
		songwriters of our time. J.C. soon after discovered metal, and
		the legend was born.
	      </p>

              <p>
		J.C. studied all the greats: Jimmy Page, George Lynch, Yngwie J.
		Malmsteen, and that guy from Nitro. Once J.C. had mastered the
		true Zen of shredding, he decided to bring it to a broader
		audience, forming Hairstrike as a way to bring this important
		teaching to the masses. When the volume on his amp reaches the
		right amplitude, rifts sometimes open in spacetime, because,
		"science."
	      </p>

              <p>
    Don't ever ask J.C. about 'das blikenlights' -- there are too many ever to
    be explained, and the hours of wasted talking could be better spent fucking
    shredding. Also, who wants to run the very real risk of weaponization?
	      </p>

              <p>
    You can't spell 'Sleet' without 'leet.'
	      </p>

            </div>
          </div>

          <div class="band-bio-entry">
            <img src="/img/cole_stone.jpg" alt="Cole Stone picture" title="Cole Stone: Don't hate me because I'm beautiful. And stoic."/>
            <div>
              <h3>Cole Stone</h3>
              <p class="band-bio-subtitle">Bass guitar, backup vocal</p>
              <p>
		Cole Stone is Hairstrike's bass-player, and is a stone-cold
		badass. He hails from Newport News, Virginia, and built his
		first bass from scratch when he was seven years old. Cole's
		strange, preternatural gift for harmony-singing emerged shortly
		after that, when he accidentally broke all the windows in the
		house, doing part-singing with the family dog.
	      </p>

              <p>
    He heard his first metal track on local FM radio, and after seeing the
    leering, sneering faces on MTV, realized it was his destiny to be a metal
    star.
	      </p>

              <p>
    Cole is the strong, silent type -- he wears his stoicism on his sleeve like
    some men wear their feelings. Feelings are not important -- fucking metal is
    what's important. And he's gathering his 'ki' to make metal happen in
    massive ways, right in your face.
	      </p>

            </div>
          </div>

          <div class="band-bio-entry">
            <img src="/img/bones_diablo.jpg" alt="Bones Diablo picture"/>
            <div>
              <h3>Bones Diablo</h3>
              <p class="band-bio-subtitle">Drums</p>
              <p>
              <p>
                Bones Diablo is Hairstrike's drummer. 
              </p>
            </div>
          </div>


