
<h2>contact</h2>

<div style="padding: 20px;">

  <h3>e-mail</h3>
  <p style="margin-bottom: 48px;">
    You can e-mail us directly at: <a href="mailto:info@hairstrike.com">info@hairstrike.com</a>
  </p>

  <h3>request quote</h3>

  <div id="gigsalad_quote_widget"></div><script>var gscqForm;(function(d,t){var s=d.createElement(t),options={'formKey':'rq-WjS0AI%3AVneRmTa6I%3A0A.mQhsfnJQhnJ','async':true,'height':'600px','width':'100%'};s.src='//www.gigsalad.com/js/quote_widget.min.js';s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs)if(rs!='complete')if(rs!='loaded')return;try{gscqForm=new GsContactForm();gscqForm.initialize(options);gscqForm.display();}catch(e){}};var scr=d.getElementsByTagName(t)[0],par=scr.parentNode;par.insertBefore(s,scr);})(document,'script');</script>

</div>

