
<h2>contact</h2>

<div style="padding: 20px;">

  <h3>e-mail</h3>
  <p style="margin-bottom: 48px;">
    You can e-mail us directly at: <a href="mailto:info@hairstrike.com">info@hairstrike.com</a>
  </p>

</div>

