          <div class="row">
            <div class="span7">
              <h3>contact</h2>

              <div style="padding: 20px;">

                <h3>e-mail</h3>
                <p style="margin-bottom: 48px;">
                  To book Hairstrike for a live show, e-mail us directly at <a href="mailto:info@hairstrike.com">info@hairstrike.com</a>.
                </p>

              </div>
            </div>
            <div class="span3">
              <%- partial('right_sidebar', {quotes: quotes}); %>
            </div>
          </div>

