          <div class="row">
            <div class="span7">
              <h3>welcome</h3>

              <p>
                Welcome to the home on the Web for Hairstrike: the 80s metal phenomenon.
              </p>
              <p>
                It's music from a simpler time, when women were cool, and men were hot. And guitars had a lot of sustain. That's right: spandex, Aquanet, shredding guitars and shrieking vocals. This is party music, for "nothing but a good time."</a>
              </p>

                <p class="band-gallery">
                  <a href="/band.html#jake" >
                    <img src="/img/jake_viceroy.jpg" width="100" height="150" alt="Jake Viceroy picture" title="Jake Viceroy: 'what is falsetto?'"/>
                  </a>
                  <a href="/band.html#cole" >
                    <img src="/img/cole_stone.jpg" width="100" height="150" alt="Cole Stone picture" title="Cole Stone: Don't hate me because I'm beautiful. And stoic."/>
                  </a>
                  <a href="/band.html#kitt" >
                    <img src="/img/kitt_de_la_rosa.jpg" width="100" height="150" alt="Kitt De la Rosa picture" title="Kitt De la Rosa: On the rocket ship ride to looooooove!"/>
                  </a>
                </p>

                <h3>set list</h3>
                <p>
                  Hairstrike plays all the huge 80s metal hits. If you're curious what they play, you can <a href="/setlist">see the current set list here</a>.
                </p>
                <h3>booking</h3>
                <p>
                  To book Hairstrike for a live show, contact <a href="http://www.associatedentertainment.com/">Associated Entertainment Consultants</a>,
                  or e-mail us directly at <a href="mailto:info@hairstrike.net">info@hairstrike.net</a>.
                </p>

            </div>
            <div class="span3">
              <%- partial('right_sidebar', {quotes: quotes}); %>
            </div>
          </div>

