          <h3>welcome</h3>
          <p>Testing, testing ... is this thing on?</p>
          <!--<p>
            Hairstrike is a band that plays 80s metal. Music from a simpler time, when women were cool, and men were hot. Guitars had a lot of sustain, and guys had a lot of hair. That's right: spandex, Aquanet, shredding guitars and shrieking vocals. This is party music, for "nothing but a good time." If you're curious what they play, you can <a href="/setlist">see the current set list here.</a>
          </p>-->

