          <h3>welcome</h3>
          <p>
            Welcome to the home on the Web for Hairstrike: the 80s metal phenomenon.
          </p>
          <p>
            It's music from a simpler time, when women were cool, and men were hot. And guitars had a lot of sustain. That's right: spandex, Aquanet, shredding guitars and shrieking vocals. This is party music, for "nothing but a good time."</a>
          </p>

          <h3>the band</h3>
          <p>
            Meet the metal madmen of Hairstrike by <a href="/band">reading their bios here</a>.
          </p>

          <h3>Set list</h3>
          <p>
            Hairstrike plays all the huge 80s metal hits. If you're curious what they play, you can <a href="/setlist">see the current set list here</a>.
          </p>

          <h3>Booking</h3>
          <p>
            To book Hairstrike for a live show, or join the mailing list, send an e-mail to <a href="mailto:info@hairstrike.net">info@hairstrike.net</a>.
          </p>

