          <h3>welcome</h3>
          <p>
            Welcome to the home on the Web for Hairstrike: a band that plays 80s metal. Music from a simpler time, when women were cool, and men were hot. And guitars had a lot of sustain. That's right: spandex, Aquanet, shredding guitars and shrieking vocals. This is party music, for "nothing but a good time." If you're curious what they play, you can <a href="/setlist">see the current set list here.</a>
          </p>

