          <div class="row">
            <div class="span7">
              <h3>performances</h2>

              <div class="music-section">

                <div class="video-item">
                  <iframe width="100%" style="min-height: 320px;" src="http://www.youtube.com/embed/CPJ-v1NT3zA" frameborder="0" allowfullscreen></iframe>
                  <div class="video-caption">
                    Various: Quarter Note, 2013-10-11
                  </div>
                </div>

                <div class="video-item">
                  <iframe width="100%" style="min-height: 320px;" src="http://www.youtube.com/embed/vL53Bml28Q8" frameborder="0" allowfullscreen></iframe>
                  <div class="video-caption">
                    "Every Rose Has Its Thorn": Quarter Note, 2013-10-11
                  </div>
                </div>

                <div class="video-item">
                  <iframe width="100%" style="min-height: 320px;" src="http://www.youtube.com/embed/JRTcxXUbfdk" frameborder="0" allowfullscreen></iframe>
                  <div class="video-caption">
                    "Sweet Child O' Mine": Quarter Note, 2013-10-11
                  </div>
                </div>

              </div>

            </div>
            <div class="span3">
              <%- partial('right_sidebar', {quotes: quotes}); %>
            </div>
          </div>

