                <% if (typeof quotes != 'undefined') { %>
                <h3>from the fans</h3>
                <div style="font-size: 13px; line-height: 24px;">
                <% for (var p in quotes) { %>
                  <div style="margin-bottom: 16px;">
                    <div>"<%= quotes[p]; %>"</div>
                    <div style="font-weight: bold;">--<%= p; %></div>
                  </div>
                <% } %>
                </div>
                <div style="text-align:right;">
                  <a href="/fans">More ...</a>
                 </div>
                <% } %>

                <p class="facebook-button">
                  <a href="https://www.facebook.com/pages/Hairstrike/539862106054222">
                    <img src="/img/facebook.png" width="280" height="93"/>
                  </a>
                </p>

