                <% if (typeof quotes != 'undefined') { %>
                <h3>from the fans</h3>
                <div style="font-size: 13px; line-height: 24px;">
                <% for (var p in quotes) { %>
                  <div style="margin-bottom: 16px;">
                    <div>"<%= quotes[p]; %>"</div>
                    <div style="font-weight: bold;">--<%= p; %></div>
                  </div>
                <% } %>
                </div>
                <div style="text-align:right;">
                  <a href="/fans">More ...</a>
                 </div>
                <% } %>

                <h3>music</h3>
              <div style="padding: 12px">
  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F105782001&amp;color=f7c411&amp;auto_play=false&amp;show_artwork=true"></iframe>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F105782158&amp;color=f7c411&amp;auto_play=false&amp;show_artwork=true"></iframe>
                <div style="text-align:right;">
                  <a href="/music">More ...</a>
                 </div>
              </div>

                <p class="facebook-button">
                  <a href="https://www.facebook.com/pages/Hairstrike/539862106054222">
                    <img src="/img/facebook.png" width="280" height="93"/>
                  </a>
                </p>

