<%
  let songs = [
    
    'Nothin\' But A Good Time: Poison',
    'Livin\' On A Prayer: Bon Jovi',
    'Round And Round: Ratt',
    'Rock You Like A Hurricane: Scorpions',
    'You Give Love A Bad Name: Bon Jovi',
    'Any Way you Want It: Journey',
    'Sweet Child O\' Mine: Guns \'N Roses',
    'Jump: Van Halen',
    'Here I Go Again: Whitesnake',
    'Talk Dirty To Me: Poison',
    'Pour Some Sugar On Me: Def Leppard',
    'Heaven: Warrant',
    'We\'re Not Gonna Take It: Twisted Sister',
    'The Final Countdown: Europe',
    'Every Rose Has Its Thorn: Poison',
    'Rock Of Ages: Def Leppard',
    'Don\'t Stop Believin\': Journey',
    'Why Can\'t This Be Love?: Van Halen',
    'Cherry Pie: Warrant',
    'Paradise City: Guns \'N Roses',
    'Rock And Roll All Nite: Kiss',
  ];
%>

          <div class="row">
            <div class="span7">
              <h3>set list</h2>
              <p>
                Here are some songs from our current set list. But nothing on this list is etched in stone. If there's something you want us to play, let us know!
              </p>
              <ul>
                <% songs.forEach((item) => {
                  let items = item.split(': ');
                  let song = `${items[0]} &mdash; <em>${items[1]}</em>`;
                %>
                  <li><%- song; %></li>
                <% }); %>
              </ul>
            </div>
            <div class="span3">
              <%- partial('right_sidebar', {quotes: quotes}); %>
            </div>
          </div>


