<h2>set list</h2>
<p>
  Hairstrike's current set list -- but nothing on this list is etched in stone. If there's something you want us to play, let us know!
</p>
<ul>
  <li>Living on a Prayer – Bon Jovi</li>
  <li>Down Boys -- Warrant</li>
  <li>Big City Nights – Scorpions</li>
  <li>Alone Again – Dokken</li>
  <li>Any Way You Want It -- Journey</li>
  <li>Rock of Ages – Def Leppard</li>
  <li>Every Rose Has Its Thorn – Poison</li>
  <li>Rock You Like a Hurricane – Scorpions</li>
  <li>Lick It Up – Kiss</li>
  <li>Here I go Again -- Whitesnake</li>
  <li>Round And Round – Ratt</li>
  <li>18 &amp; Life -- Skid Row</li>
  <li>In My Dreams – Dokken</li>
  <li>Paradise City (Abbr.) -- Guns 'N Roses</li>
  <li>Sweet Child O' Mine -- Guns 'N Roses</li>
  <li>Heaven – Warrant</li>
  <li>Slide it In – Whitesnake</li>
  <li>Bark At The Moon -- Ozzy Osbourne</li>
  <li>Final Countdown -- Europe</li>
  <li>We're Not Gonna Take It -- Twisted Sister</li>
  <li>Don't Go Away Mad -- Motley Crue</li>
  <li>Nothing But A Good Time -- Poison</li>
  <li>Gypsy Road -- Cinderella</li>
  <li>Ain’t Talking ‘Bout Love – Van Halen</li>
  <li>Talk Dirty to Me –Poison</li>
  <li>Crazy Train -- Ozzy Osbourne</li>
  <li>You Give Love A Bad Name -- Bon Jovi</li>
  <li>Rock and Roll All Night – Kiss</li>
</ul>
