<h2>set list</h2>
<p>
  Hairstrike's current set list -- but nothing on this list is etched in stone. If there's something you want them to play, let them know!
</p>
<ul>
<li>Nothin' but a Good Time -- Poison</li>
<li>Rock You Like A Hurricane -- Scorpions</li>
<li>We're Not Gonna Take It -- Twisted Sister</li>
<li>You Give Love A Bad Name -- Bon Jovi</li>
<li>Rock of Ages -- Def Leppard</li>
<li>In My Dreams -- Dokken</li>
<li>Any Way You Want It -- Journey</li>
<li>Every Rose Has Its Thorn -- Poison</li>
<li>Down Boys -- Warrant</li>
<li>Crazy Train -- Ozzy Osbourne</li>
<li>Big City Nights -- Scorpions</li>
<li>Don't Go Away Mad (Just Go Away) -- Motley Crue</li>
<li>Talk Dirty To Me -- Poison</li>
<li>Lick It Up -- Kiss</li>
<li>Dead Or Alive -- Bon Jovi</li>
<li>Alone Again -- Dokken</li>
<li>Kickstart My Heart -- Motley Crue</li>
<li>Round and Round -- Ratt</li>
<li>18 and Life -- Skid Row</li>
<li>Paradise City / Sweet Child O' Mine -- Guns N' Roses</li>
<li>Heaven -- Warrant</li>
<li>Bark At The Moon -- Ozzy</li>
<li>Rock And Roll All Nite -- Kiss</li>
</ul>
