@charset "ISO-8859-1";
@font-face {
    font-family: 'RedRocket';
    src: url('font/redrocket/redrocket-webfont.eot');
    src: url('font/redrocket/redrocket-webfont.eot?#iefix') format('eot'),
         url('font/redrocket/redrocket-webfont.woff') format('woff'),
         url('font/redrocket/redrocket-webfont.ttf') format('truetype'),
         url('font/redrocket/redrocket-webfont.svg#webfont/redrocketo0FHfmnM') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RedRocketItalic';
    src: url('font/redrocketital/redrocketital-webfont.eot');
    src: url('font/redrocketital/redrocketital-webfont.eot?#iefix') format('eot'),
         url('font/redrocketital/redrocketital-webfont.woff') format('woff'),
         url('font/redrocketital/redrocketital-webfont.ttf') format('truetype'),
         url('font/redrocketital/redrocketital-webfont.svg#webfont/redrocketo0FHfmnM') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  background-color: #0b0d15;
}

.banner {
  width: 100%;
  background-image: url(/img/hairstrike2.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  height: 280px;
  text-align: middle;
  overflow: hidden;
}

.logo {
  display: block;
  width: 609px;
  height: 49px;
  margin: auto;
  margin-top: 47px;
}

.logo img {
  width: 609px;
  height: 49px;
}

.logo-phone {
  display: block;
  width: 302px;
  height: 23px;
  margin: auto;
  margin-top: 47px;
}

.logo-phone img {
  width: 304px;
  height: 23px;
}

.nav {
  width: 100%;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin: 0;
  padding: 4px 0;
  text-align: center;
}

.nav li {
  margin: 0;
  padding: 0 12px;
  display: inline-block;
  font-family: 'RedRocketItalic', Verdana, Helvetica;
  font-size: 24px;
  letter-spacing: 1px;
}

.nav a {
  color: #f7c411;
  text-decoration: none;
}

.nav a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Override Bootstrap hover */
.hairstrike .nav li a:hover {
   background-color: inherit;
}

.content {
  color: #111111;
  margin: 12px auto;
  padding: 12px;
  max-width: 1170px;
}

.content h2 {
  font-family: 'RedRocketItalic', Verdana, Helvetica;
  letter-spacing: 1px;
  font-size: 32px;
  color: #fff;
  margin: 10px 10px 0 10px;
  text-shadow: 0.7px 0.7px 1px #000;
}

.content h3 {
  font-family: 'RedRocketItalic', Verdana, Helvetica;
  letter-spacing: 1px;
  font-size: 24px;
  line-height: inherit;
  border-bottom: 2px solid #f7c411;
  color: #fff;
  margin-left: 8px;
  text-shadow: 0.7px 0.7px 1px #000;
}

.content p {
  margin-left: 8px;
}

.span10 {
  background-color: #6f7ca2;
}

.band-bio-entry {
  overflow: auto;
}

.band-bio-entry img {
  width: 300px;
  height: 400px;
  margin: 10px 20px;
  float: left;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.band-bio-entry div {
  margin: 20px 20px 0 20px;
}

.band-bio-subtitle {
  font-style: italic;
  font-weight: bold;
}

.content a {
  color: #f7c411;
  font-weight: bold;
  font-style: italic;
}

li {
  margin-bottom: 8px;
}

.band-gallery {
  width: 100%;
  overflow: auto;
}

.band-gallery img {
  width: 150px;
  height: 200px;
  margin: 10px 10px 0 0;
  float: left;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.band-gallery a {
  display: block;
  float: left;
}

.facebook-button {
  text-align: center;
  margin-top: 28px;
}

.facebook-button img {
  background: #eee;
  border-radius: 7px;
}
